.main {
    width: 1200px;
    margin: 10px auto 0;
    background: #232323;
}

.genres_line {
    position: absolute;
    top: 465px;
    margin: 0 0 0 57px;
    padding: 0;
    width: 1084px;
    height: 2px;
    flex-shrink: 0;
    background: #424242;
}

.number_of_films {
    margin-left: 59px;
    margin-top: 24px;
}

.film_list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-left: 59px;
    margin-right: 57px;
}