.film_list_item_container {
    width: 323px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.film_list_item_img {
    width: 323px;
    height: 455px;
}

.film_list_item_info {
 display: flex;
    justify-content: space-between;
}

.film_list_item_name {
    margin-top: 20px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.699999988079071;
}

.film_list_item_year {
    width: 66px;
    margin-top: 20px;
    padding-top: 2px;
    border-radius: 4px;
    border: 1px solid #979797;
    grid-area: c;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.699999988079071;
}

.film_list_item_genres {
    margin-top: 8px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.5;
}