
.add_module {
    width: 1200px;
    min-height: 100%;
    background: rgba(35, 35, 35, 0.92);
    backdrop-filter: blur(12.232268333435059px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)
}

.active {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
}

.logo_container {
    padding: 20px 0 0 60px;
}